body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuOF6M3p_hOxBGgZ8UHJuf9WwJfUNpniR79A&usqp=CAU);
  text-align: center;
  direction: ltr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  color: black;
}
